.action__inner {
  width: $desktop-container-width - 40px;
  margin: 0 auto;
  padding: 118px 0 60px;
}

.action__inner h2 {
  margin: 0 0 52px;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $color-dark-text;
}

.action__container {
  display: flex;
  justify-content: space-between;
}

.action__top {
  display: flex;
}

.action__text-container {
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 462px;
  padding: 41px 45px 45px;
  color: #ffffff;
  background-color: #ed0233;
}

.action__top-text {
  margin: 0 0 2px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 100%;
}

.action__price {
  margin: 0 0 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 100%;
}

.action__description {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}

.action__top a {
  align-self: start;
  margin: auto 0 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.action__image {
  width: 280px;
  height: 462px;
  background: #4675e1 url("#{$prefix-css-img}actions-desktop@1x.jpg") no-repeat 0 0;

  @include bg-retina("actions-desktop@2x.jpg");
  background-size: 280px 462px;
}

.action__other {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 560px;
}

.action__other li {
  display: flex;
  flex-direction: column;
  width: 560px;
  height: 211px;
  padding: 26px 35px 35px;
  background: url("#{$prefix-css-img}action-bg-desktop.svg") no-repeat 0 0;
  background-size: 560px 211px;
}

.action__other h3 {
  margin: 0 0 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 140%;
  color: #1c3374;
}

.action__other p {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #1c3374;
}

.action__other a {
  align-self: start;
  margin: auto 0 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #1c3374;
  border-bottom: 1px solid #1c3374;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $desktop-container-width - 1) {
  .action__inner {
    width: $tablet-container-width;
    padding: 854px 0 60px;
  }

  .action__inner h2 {
    margin: 0 0 41px;
    font-size: 42px;
    line-height: 42px;
  }

  .action__container {
    display: block;
  }

  .action__top {
    justify-content: center;
    margin: 0 0 30px;
  }

  .action__text-container {
    width: 279px;
    padding: 41px 45px 45px;
  }

  .action__image {
    width: 399px;
    height: 462px;
    background: #4675e1 url("#{$prefix-css-img}actions-tablet@1x.jpg") no-repeat 0 0;

    @include bg-retina("actions-tablet@2x.jpg");
    background-size: 399px 462px;
  }

  .action__other {
    flex-direction: row;
    width: 100%;
  }

  .action__other li {
    width: 324px;
    height: 211px;
    padding: 26px 35px 35px;
    background: url("#{$prefix-css-img}action-bg-tablet.svg") no-repeat 0 0;
    background-size: 324px 211px;
  }
}

@media (max-width: $tablet-width - 1) {
  .action__inner {
    width: $mobile-container-width;
    padding: 1301px 0 0;
  }

  .action__inner h2 {
    margin: 0 0 42px;
    font-size: 32px;
    line-height: 32px;
  }

  .action__top {
    flex-direction: column;
    align-items: center;
  }

  .action__text-container {
    width: 290px;
    min-height: 299px;
    text-align: center;
  }

  .action__price {
    margin: 0 0 15px;
  }

  .action__top a {
    align-self: center;
  }

  .action__image {
    width: 290px;
    height: 299px;
    background: #4675e1 url("#{$prefix-css-img}actions-mobile@1x.jpg") no-repeat 0 0;

    @include bg-retina("actions-mobile@2x.jpg");
    background-size: 290px 299px;
  }

  .action__other {
    flex-direction: column;
    align-items: center;
  }

  .action__other li {
    width: 290px;
    height: 211px;
    margin: 0 0 30px;
    padding: 37px 35px 46px;
    text-align: center;
    background: url("#{$prefix-css-img}action-bg-mobile.svg") no-repeat 0 0;
    background-size: 290px 211px;
  }

  .action__other a {
    align-self: center;
  }
}
