.advantage {
  display: flex;
  width: 340px;
}

.advantage__indicator {
  margin: 0 31px 0 0;
}

.advantage__number {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 71px;
  line-height: 91%;

  &--900 {
    width: 102px;
    height: 53px;
    margin: 4px 0 6px 3px;
    background: url("#{$prefix-css-img}number-900-desktop.svg") no-repeat 0 0;
  }

  &--350 {
    width: 103px;
    height: 53px;
    margin: 4px 0 6px 3px;
    background: url("#{$prefix-css-img}number-350-desktop.svg") no-repeat 0 0;
  }

  &--70 {
    width: 67px;
    height: 53px;
    margin: 4px 0 6px 3px;
    background: url("#{$prefix-css-img}number-70-desktop.svg") no-repeat 0 0;
  }

  &--5 {
    width: 65px;
    height: 52px;
    margin: 4px 5px 6px 3px;
    background: url("#{$prefix-css-img}number-5+-desktop.svg") no-repeat 0 0;
  }
}

.advantage__unit {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #2e35ac;
}

.advantage__description {
  padding: 0 7px 0 0;
}

.advantage__description h3 {
  margin: 0 0 6px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 150%;
  color: $color-dark-text;
}

.advantage__description p {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -1px;
  color: $color-dark-text;
}

@media (max-width: $desktop-container-width - 1) {
  .advantage {
    width: 325px;
  }

  .advantage__number {
    &--900 {
      width: 84px;
      height: 43px;
      background: url("#{$prefix-css-img}number-900-tablet.svg") no-repeat 0 0;
    }

    &--350 {
      width: 85px;
      height: 43px;
      background: url("#{$prefix-css-img}number-350-tablet.svg") no-repeat 0 0;
    }

    &--70 {
      width: 55px;
      height: 43px;
      background: url("#{$prefix-css-img}number-70-tablet.svg") no-repeat 0 0;
    }

    &--5 {
      width: 55px;
      height: 43px;
      margin: 4px 0 6px 3px;
      background: url("#{$prefix-css-img}number-5+-tablet.svg") no-repeat 0 0;
    }
  }

  .advantage__description h3 {
    margin: 0;
    font-size: 20px;
  }
}

@media (max-width: $tablet-width - 1) {
  .advantage {
    display: block;
    width: auto;
    margin: 0 0 39px;
    text-align: center;
  }

  .advantage__indicator {
    margin: 0 0 7px;
  }

  .advantage__description {
    padding: 0;
  }

  .advantage__number {
    margin: 0 auto 5px;

    &--900 {
      width: 84px;
      height: 43px;
      background: url("#{$prefix-css-img}number-900-mobile.svg") no-repeat 0 0;
    }

    &--350 {
      width: 85px;
      height: 43px;
      background: url("#{$prefix-css-img}number-350-mobile.svg") no-repeat 0 0;
    }

    &--70 {
      width: 55px;
      height: 43px;
      background: url("#{$prefix-css-img}number-70-mobile.svg") no-repeat 0 0;
    }

    &--5 {
      width: 53px;
      height: 43px;
      background: url("#{$prefix-css-img}number-5+-mobile.svg") no-repeat 0 0;
    }
  }

  .advantage__description h3 {
    margin: 0 0 2px;
  }

  .advantage__description p {
    padding: 0 34px 0;
  }
}
