.advantage-top {
  $width: 240px;
  position: absolute;
  left: calc(50% - #{$width} / 2 + 1px);
  top: 0;
  width: $width;
  height: 100%;
  padding: 49px 25px 0;
  color: #ffffff;
  background: #1c3374;
  text-align: center;
}

.advantage-top__number {
  margin: 0;
  padding: 0 5px 0 0;
  font-style: normal;
  font-weight: bold;
  font-size: 74px;
  line-height: 110%;
}

.advantage-top__unit {
  margin: 0 0 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 150%;
}

.advantage-top__description {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

@media (max-width: $desktop-container-width - 1) {
  .advantage-top {
    position: static;
    align-self: center;
    width: 442px;
    min-height: 239px;
    margin: 0 0 44px;
    padding: 35px 25px 25px;
  }

  .advantage-top__number {
    margin: 0 0 1px;
    padding: 0 5px 0 0;
    font-style: normal;
    font-weight: bold;
    font-size: 74px;
    line-height: 95%;
  }

  .advantage-top__unit {
    margin: 0 0 14px;
    font-size: 22px;
  }

  .advantage-top__description {
    padding: 0 101px 0;
  }
}

@media (max-width: $tablet-width - 1) {
  .advantage-top {
    width: 100vw;
    min-height: auto;
    margin: 0 0 48px;
    padding: 40px 0 43px;
  }

  .advantage-top__number {
    margin: 0 0 -4px;
  }

  .advantage-top__unit {
    margin: 0 0 9px;
  }

  .advantage-top__description {
    padding: 0 65px 0;
  }
}
