.gym {
  color: $color-dark-text;
}

.gym__inner {
  display: flex;
  justify-content: space-between;
  width: $desktop-container-width - 40px;
  margin: 0 auto;
  padding: 120px 0 235px 60px;
}

.gym__text {
  width: 355px;
  padding: 47px 0 0;
}

.gym__text h2 {
  margin: 0 0 8px;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
}

.gym__subtitle {
  margin: 0 0 39px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}

.gym__paragraph {
  margin: 0 0 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.9px;
}

.gym__paragraph span {
  letter-spacing: 0;
}

.gym__image {
  position: relative;
  width: 660px;
  height: 401px;
  margin: 0;
  background: url("#{$prefix-css-img}gym-desktop@1x.jpg") no-repeat 0 0;

  @include bg-retina("gym-desktop@2x.jpg");
  background-size: 660px 401px;
}

.gym__video {
  position: absolute; // дублирование для наглядности
  left: -63px;
  bottom: -115px;
}

@media (max-width: $desktop-container-width - 1) {
  .gym__inner {
    display: block;
    width: $tablet-container-width;
    padding: 53px 0 183px;
  }

  .gym__text {
    margin: 0 auto 43px;
    width: 515px;
    text-align: center;
  }

  .gym__text h2 {
    font-size: 42px;
    line-height: 42px;
  }

  .gym__subtitle {
    margin: 0 0 34px;
  }

  .gym__paragraph--desktop {
    display: none;
  }

  .gym__image {
    width: 678px;
    height: 345px;
    background: url("#{$prefix-css-img}gym-tablet@1x.jpg") no-repeat 0 0;

    @include bg-retina("gym-tablet@2x.jpg");
    background-size: 678px 345px;
  }

  .gym__video {
    left: 206px;
    bottom: -83px;
  }
}

@media (max-width: $tablet-width - 1) {
  $max_view: $tablet-width - 1;
  $min_view: $mobile-width;

  .gym__inner {
    $max_width: $max_view - 2 * 45px;
    $min_width: $mobile-container-width - 4;
    $rate: ($max_width - $min_width) / ($max_view - $min_view);
    display: flex;
    flex-direction: column;
    width: calc((100vw - #{$min_view}) * #{$rate} + #{$min_width});
    padding: 22px 0 66px;
  }

  .gym__text {
    $max_width: $max_view - 2 * 130px;
    $min_width: $mobile-container-width - 4;
    $rate: ($max_width - $min_width) / ($max_view - $min_view);
    width: calc((100vw - #{$min_view}) * #{$rate} + #{$min_width});
    margin: 0 auto 25px;
    text-align: left;
  }

  .gym__text h2 {
    margin: 0 0 6px;
    font-size: 32px;
    line-height: 32px;
  }

  .gym__subtitle {
    margin: 0 0 24px;
  }

  .gym__paragraph {
    width: 100%;
    padding: 0 27px 0 0;
  }

  .gym__image {
    $max_width: $max_view - 2 * 45px;
    $min_width: 320px;
    $rate: ($max_width - $min_width) / ($max_view - $min_view);
    align-self: center;
    width: calc((100vw - #{$min_view}) * #{$rate} + #{$min_width});
    height: 313px;
    margin: 0 0 210px;
    background: url("#{$prefix-css-img}gym-mobile@1x.jpg") no-repeat center center;

    @include bg-retina("gym-mobile@2x.jpg");
    background-size: cover;
  }

  .gym__video {
    left: 50%;
    bottom: -207px;
    transform: translateX(-50%);
  }
}
