.review-card {
  position: relative;
  margin: 40px;
  padding: 54px 59px 58px 170px;
  color: #ffffff;
  background: #1c3374;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
}

.review-card__image {
  position: absolute;
  left: 62px;
  top: 62px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #263b64 url("#{$prefix-css-img}reviewer-desktop@1x.png") no-repeat 0 0;

  @include bg-retina("reviewer-desktop@2x.png");
  background-size: 80px 80px;
}

.review-card__name {
  margin: 0 0 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
}

.review-card__text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
}

@media (max-width: $desktop-container-width - 1) {
  .review-card {
    padding: 54px 61px 58px 174px;
  }

  .review-card__image {
    left: 65px;
  }
}

@media (max-width: $tablet-width - 1) {
  .review-card {
    width: $review_card_mobile_width;
    height: $review-card-mobile-height;
    padding: 48px 14px 0;
  }

  .review-card__image {
    left: 41px;
    top: 40px;
    width: 68px;
    height: 68px;
    background: #263b64 url("#{$prefix-css-img}reviewer-mobile@1x.png") no-repeat 0 0;

    @include bg-retina("reviewer-mobile@2x.png");
    background-size: 68px 68px;
  }

  .review-card__name {
    margin: 0 0 23px 110px;
    line-height: 130%;
  }

  .review-card__text {
    width: 183px;
    margin: 0 auto;
    text-align: center;
  }
}
