.reviews__inner {
  width: $reviews-slider-width;
  margin: 0 auto;
  padding: 59px 0 80px;
}

.reviews__inner h2 {
  margin: 0 auto 11px;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #102654;
}

@media (max-width: $desktop-container-width - 1) {
  $r_slider_width: "(#{$review_card_tablet_width} + #{$review_card_between} + 2 * #{$reviews_slider_carousel_left_right_margin})";

  .reviews__inner {
    width: calc(#{$r_slider_width});
    padding: 39px 0 60px;
  }

  .reviews__inner h2 {
    margin: 0 auto 1px;
    font-size: 42px;
    line-height: 42px;
  }
}

@media (max-width: $tablet-width - 1) {
  $r_slider_width: "(#{$review_card_mobile_width} + #{$review_card_between})";

  .reviews__inner {
    width: calc(#{$r_slider_width});
    padding: 39px 0 250px;
  }

  .reviews__inner h2 {
    margin: 0 auto 3px;
    font-size: 32px;
    line-height: 32px;
  }
}
