.season-tickets {
  position: relative;
  background: #f8f9fc;
}

.season-tickets__bg {
  position: absolute;
  left: calc(50% + 631px);
  top: 507px;
  transform: translateX(-50%);
  width: 470px;
  height: 494px;
  background: url("#{$prefix-css-img}sinker-desktop@1x.png") no-repeat center 0;

  @include bg-retina("sinker-desktop@2x.png");
  background-size: 470px 494px;
}

.season-tickets__inner {
  width: $desktop-container-width - 40px;
  margin: 0 auto;
  padding: 118px 0 120px;
}

.season-tickets__inner h2 {
  margin: 0 0 35px;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $color-dark-text;
}

.season-tickets__tabs {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 341px;
  margin: 0 auto;
  padding: 0;
  box-shadow: inset 0 -2px 0 0 rgba(120, 120, 120, 0.2);
}

.season-tickets__tabs-item button {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 0 13px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: rgba(16, 38, 84, 0.5);
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
    color: rgba(16, 38, 84, 0.3);
  }

  &:active {
    color: rgba(16, 38, 84, 0.15);
  }

  @include fix-ie-btn-text();
}

.season-tickets__tabs-item--active button {
  color: $color-dark-text;

  &:hover {
    cursor: auto;
    color: $color-dark-text;
  }

  &:active {
    color: $color-dark-text;
  }
}

.season-tickets__tabs-item--active button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2px;
  background-color: #d10a42;
}

.season-tickets__offers {
  list-style: none;
  margin: 0;
  padding: 38px 0 0;
}

.season-tickets__offers-item {
  display: none;

  &--active {
    display: block;
  }
}

.season-tickets__tab-set {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
