@media (min-width: 0) {
  $review_margin: 40px;
  $trainer_margin: 20px;

  .slider {
    display: flex;

    &--trainers {
      width: ($trainer-card-width + 2 * $trainer_margin) * $trainers-slider-set-count;
      margin: 0 40px;
    }

    &--reviews {
      width: $review-card-width + 2 * $review_margin;
      margin: 0 20px;
    }
  }

  .slider__item > * {
    flex-grow: 1;
  }

  @media (max-width: $trainers-slider-width - 1 + $trainers_indent_for_scroll)
    and (min-width: $desktop-container-width) {
    .slider--trainers {
      $max_view: $trainers-slider-width - 1 + $trainers_indent_for_scroll;
      $min_view: $desktop-container-width;
      $t_m_max: $trainer_margin;
      $t_m_min: 5px;
      $t_k: ($t_m_max - $t_m_min) / ($max_view - $min_view);
      $t_margin: "((100vw - #{$min_view}) * #{$t_k} + #{$t_m_min})";
      $t_set_count: 4;
      $t_c_w: $trainer-card-width;
      width: calc((#{$t_c_w} + 2 * #{$t_margin}) * #{$t_set_count});
      margin: 0 auto;
    }
  }

  @media (max-width: $desktop-container-width - 1) {
    .slider {
      &--trainers {
        $t_set_count: 2;
        $trainer-card-width: 268px;
        $trainer_margin: 15px;
        width: ($trainer-card-width + 2 * $trainer_margin) * $t_set_count;
        margin: 0 45px;
      }

      &--reviews {
        width: $review_card_tablet_width + 2 * $review_margin;
      }
    }
  }

  @media (max-width: $tablet-width - 1) {
    .slider {
      &--trainers {
        $trainer-card-width: 226px;
        $trainer_margin: 15px;
        width: $trainer-card-width + 2 * $trainer_margin;
        margin: 0 19px;
      }

      &--reviews {
        width: 100%;
        margin: 0;
      }
    }
  }
}
