html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: bold;
  font-size: 109px;
  line-height: 109px;
  letter-spacing: 0.03em;
}

h2 {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 49px;
  line-height: 59px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
